.odd {
    background-color: pink;
    font-family: verdana, "DejaVu Sans", sans-serif;
}
.large-font {
    font-size: 24px;
}
#blue {
    background-color: #0000ff;
    font-size: 32px;
}
#green {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
